* {
  box-sizing: border-box;
}

:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --primary-color-dark: #fff;
  --secondary-color-dark: #333;
}
html.dark {
  --primary-color: var(--primary-color-dark);
  --secondary-color: var(--secondary-color-dark);
}
html.dark {
  background-color: #111;
  color: var(--primary-color);
}
html {
  transition: all 0.5s ease-in;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.toggle {
  background-color: var(--primary-color);
  border: 0;
  border-radius: 4px;
  color: var(--secondary-color);
  padding: 8px 12px;
  position: absolute;
  top: 100px;
  left: 50%;

  transform: translateX(-50%);

}

.toggle:focus {
  outline: none;
}

/* 时钟 */
.clock-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.clock {
  position: relative;
  width: 500px;
  height: 500px;
  color: white;
  background: url('img/clock.jpg') no-repeat center center;
}

.needle {
  background-color: #000;
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: bottom center;
  width: 3px;
  height: 65px;
  z-index: 3;
}

.needle.hour {
  transform: translate(-50%, -100%) rotate(0deg);
}

.needle.minute {
  transform: translate(-50%, -100%) rotate(90deg);
  height: 100px;
}

.needle.second {
  transform: translate(-50%, -100%) rotate(180deg);
  height: 100px;
  background-color: #e74c3c;
}

.center-point {
  background-color: #e74c3c;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.time {
  font-size: 60px;
  color: var(--primary-color);
}

.date {
  color: #aaa;
  font-size: 14px;
}

.date .circle {
  background-color: var(--primary-color);
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  width: 18px;
  height: 18px;
}
